/* * {
    cursor: none;
} */


.grid {
    margin: 50px 0 0;
    padding-bottom: 50px;
}

/* 
.menu {
    top: 0;
    background-color: pink;
} */

.visualizeButton {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    padding: 25px 16px;
    position: relative;
    bottom: 50px;
    top: 20px;
    font-size: large;
}

.cursor {
    background-color: rgb(12, 53, 71);
    height: 25px;
    width: 25px;
    /* border-radius: 50%; */
    /* display: inline-block; */
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}